<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/poole_hyde.css">
  <!-- style adjustments -->
  <style>
    html {font-size: 17px;}
    .franklin-content {position: relative; padding-left: 8%; padding-right: 5%; line-height: 1.35em;}
    @media (min-width: 940px) {
      .franklin-content {width: 100%; margin-left: auto; margin-right: auto;}
    }
    @media (max-width: 768px) {
      .franklin-content {padding-left: 6%; padding-right: 6%;}
    }
  </style>
  <link rel="icon" href="/assets/favicon.png">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">Julia Vlasov</a></h1>
      <p class="lead">Organisation for Vlasov codes in Julia</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {{ispage index.html}}active{{end}}" href="/">Home</a>
      <a class="sidebar-nav-item {{ispage gempic/*}}active{{end}}" href="/gempic/">GEMPIC</a>
      <a class="sidebar-nav-item {{ispage sl/*}}active{{end}}" href="/sl/">SemiLagrangian</a>
      <a class="sidebar-nav-item {{ispage fourier/*}}active{{end}}" href="/fourier/">FourierAdvections</a>
      <a class="sidebar-nav-item {{ispage pages/numkin2019/*}}active{{end}}" href="/pages/numkin2019/">Numkin 2019</a>
    </nav>
    <p>&copy; {{fill author}}.</p>
  </div>
</div>
<div class="content container">
<!-- Content appended here -->
