name: Build and Deploy
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6   
      - uses: julia-actions/setup-julia@v2
      - uses: julia-actions/cache@v2
      - name: Build
        run: |
         julia --project -e 'using Pkg; Pkg.instantiate()'
         julia --project index.jl  
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.FRANKLIN }}
          branch: gh-pages
          folder: out
